<table class="table">
    <thead>
        <tr>

            @for(header of tableHeaders) {
                <th scope="col">{{ header }}</th>
            }

            @if(tableActions.length > 0) {
                <th scope="col">Actions</th>
            }

        </tr>
    </thead>

    <tbody>
        @for(row of tableData; track $index) {
            <tr>
                @for(cell of row) {
                    <td>{{ cell }}</td>
                }

                @if(tableActions.length > 0) {
                    <td>
                        @for(action of tableActions) {
                            <button class="btn btn-primary" (click)="action.function(row)"> {{ action.label }} </button>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>

</table>