<table class="table">
    <thead>
        <tr>
            @for(header of tableHeaders; track $index) {
                <th scope="col">{{ header.label }}</th>
            }

            @if(tableActions.length > 0) {
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>

    <tbody>
        @for(item of tableData; track $index) {
            <tr>
                @for(header of tableHeaders; track $index) {
                    <td>{{ item[header.key] }}</td>
                }

                @if(tableActions.length > 0) {
                    <td>
                        <div class="btn-group" role="group">
                            @for(action of tableActions; track $index) {
                              <button class="{{ action.style }}" (click)="action.function(item)" style="margin-right: 5px;"> {{ action.label }} </button>
                            }
                        </div>
                    </td>
                }
            </tr>
        }

    </tbody>

</table>
