<header>
    <!-- Logo -->
    <div class="container-fluid d-flex justify-content-center mb-3">
        <img src="/assets/infoimg.png" alt="Logo" class="img-fluid mb-3">
    </div>

    <!-- Navbar -->
    <div class="container-fluid d-flex justify-content-center mb-3">
        <nav class="navbar navbar-expand-lg justify-content-center navbar-light bg-light">
            <div class="navbar-nav flex-wrap justify-content-center">
                <!-- Loop through the navLinks array and display the links -->
                @for (link of navLinks; track $index; let i = $index) {
                    <a class="nav-item nav-link" [routerLink]="link.url" routerLinkActive="active">{{ link.label }}</a>
                    
                    <!-- Insert divider if the index matches any of the values in dividerIndices -->
                    @if (dividerIndices.includes(i)) {
                        <div class="vr mx-2"></div>
                    }
                }
            </div>
        </nav>
    </div>
</header>