<div class="container">
    <div class="form-container">
        <h3> New Driver </h3>
        
        <!-- Name Field -->
        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="driver.name" required>
        </div>

        <!-- Department Field -->
        <div class="mb-3">
            <label for="department">Department</label>
            <select class="form-control" id="department" name="department" [(ngModel)]="driver.department" required>
                <option value="Food">Food</option>
                <option value="Electronics">Electronics</option>
                <option value="Furniture">Furniture</option>
            </select>
        </div>

        <!-- License Field -->
        <div class="mb-3">
            <label for="license">License</label>
            <input type="text" class="form-control" id="license" name="license" [(ngModel)]="driver.license" required>
        </div>

        <!-- Is Active Switch -->
        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="isActive" name="isActive" [(ngModel)]="driver.isActive">
                <label class="form-check-label" for="isActive">Active</label>
            </div>
        </div>

        <!-- Submit Button -->
        <button (click)="addDriver()" type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</div>
  