<header>
    <!-- Logo -->
    <div class="container-fluid d-flex justify-content-center mb-3">
        <img src="/assets/logo.png" alt="Logo" class="img-fluid mb-3">
    </div>

    <!-- Navbar -->
    <div class="container-fluid d-flex justify-content-center mb-3">
        <nav class="navbar navbar-expand-lg justify-content-center navbar-light bg-light">
            <div class="navbar-nav flex-wrap justify-content-center">
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/driver/add">Add Driver</a>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/driver/list">List Drivers</a>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/driver/pick-department">List Drivers/Department</a>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/driver/delete">Delete Drivers</a>
                <div class="vr mx-2"></div>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/package/add">Add Package</a>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/package/list">List Packages</a>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/package/delete">Delete Package</a>
                <div class="vr mx-2"></div>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/stats">Stats for Nerds</a>
                <a class="nav-item nav-link btn btn-light mx-2" href="/33328366/Fahad/auth/login">Login</a>
            </div>
        </nav>
    </div>
        
</header>
