<header>
    <!-- Logo -->
    <div class="container-fluid d-flex justify-content-center mb-3">
        <a [routerLink]="['']">
            <img src="/assets/logo.png" alt="Logo" class="img-fluid mb-3">
        </a>
    </div>

    <!-- Navbar -->
    <div class="container-fluid d-flex justify-content-center mb-3">
        <nav class="navbar navbar-expand-lg justify-content-center navbar-light bg-light">
            <div class="navbar-nav flex-wrap justify-content-center">
                <!-- Loop through the navLinks array and display the links -->
                @for (link of navLinks; track $index; let i = $index) {
                    <a class="nav-item nav-link" [routerLink]="link.path">{{ link.title }}</a>
                    
                    <!-- Insert divider if the index matches any of the values in dividerIndices -->
                    @if (dividerIndices.includes(i)) {
                        <div class="vr mx-2"></div>
                    }

                    
                }
            </div>
        </nav>
    </div>
        
</header>
