<div class="table-container">
    @if(packages.length > 0) {
        <app-table-template 
            [tableHeaders]="tableHeaders"
            [tableData]="tableData" 
            [tableActions]="tableActions">
        </app-table-template>
        
        @if(isViewingPackage) {
            <h3 style="text-align: center;"> Package Details </h3>
            
            <!-- For some reason doesnt work when calling app-list-drivers here -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">License</th>
                        <th scope="col">is Active</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            <td>{{ driverAssigned.driverId }}</td>
                            <td>{{ driverAssigned.driverName | stringToUpper }}</td>
                            <td>{{ driverAssigned.driverDepartment }}</td>
                            <td>{{ driverAssigned.driverLicense }}</td>
                            <td>{{ driverAssigned.driverIsActive }}</td>
                            <td>{{ driverAssigned.driverCreatedAt }}</td>
                        </tr>
    
                </tbody>
            </table>
                
        }
    } @else {
        <h3 style="text-align: center;"> No Packages Assigned to Drivers </h3>
    }
    
</div>
