<div class="table-container">
    @if(packages && packages.length > 0) {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assigned Driver</th>
                    @if(tableActions && tableActions.length) {
                        <th scope="col">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(package of packages; track $index) {
                    <tr>
                        <td>{{ package.packageId }}</td>
                        <td>{{ package.packageTitle }}</td>
                        <td>{{ package.packageWeight | kgToG }}</td>
                        <td>{{ package.packageDestination }}</td>
                        <td>{{ package.packageDescription }}</td>
                        <td>{{ package.packageIsAllocated ? 'Allocated' : 'Not Allocated' }}</td>
                        <td>{{ package.driverId.driverId ? package.driverId.driverId : package.driverId }}</td>
                        @for(action of tableActions; track $index) {
                            <td>
                                <button class="{{ action.style }}" (click)="action.function(package); getPackages()">
                                    {{ action.label }}
                                </button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        @if(isViewingPackage) {
            <h3 style="text-align: center;"> Package Details </h3>
            <app-list-drivers [drivers]="driverAssigned" [tableActions] = []></app-list-drivers>
        }
    } @else {
        <h3 style="text-align: center;"> No Packages Assigned to Drivers </h3>
    }

</div>
