<div class="table-container">
    @if(drivers && drivers.length > 0) {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">License</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created At</th>
                    @if(tableActions && tableActions.length) {
                        <th scope="col">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(driver of drivers; track $index) {
                    <tr>
                        <td>{{ driver.driverId }}</td>
                        <td>{{ driver.driverName | stringToUpper }}</td>
                        <td>{{ driver.driverDepartment }}</td>
                        <td>{{ driver.driverLicense }}</td>
                        <td>{{ driver.driverIsActive ? 'Active' : 'Inactive' }}</td>
                        <td>{{ driver.driverCreatedAt }}</td>
                        @for(action of tableActions; track $index) {
                            <td>
                                <button class={{action.style}} (click)="action.function(driver); getDrivers()"> 
                                    {{ action.label }}
                                </button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    

        @if(isViewingDriver) {
            <h3 style="text-align: center;"> Driver Details </h3>
            <app-list-packages [packages]="assignedPackages" [tableActions] = []></app-list-packages>
        }
    } @else {
        <h3 style="text-align: center;"> No Drivers Assigned to Packages </h3>
    }
</div>
